<div style="text-align: center; padding-top: 0%;padding-bottom: 3%;">
    <div class="example-button-container">
        <!-- <a href="/seleccion-oficial">
            <button mat-fab extended>
                <mat-icon>local_movies</mat-icon>
                VER TODOS LOS FILMS
            </button>
        </a> -->
        <a href="/seleccion-oficial">
            <button mat-fab extended style="margin: 2% 1%;">
                <mat-icon>toc</mat-icon>
                VOLVER A SELECCIÓN OFICIAL
            </button>
        </a>
        <!-- <a href="/seleccion-oficial">
            <button mat-fab extended>
                <mat-icon>local_movies</mat-icon>
                VER TODOS LOS FILMS
            </button>
        </a> -->
        

    </div>
</div>