<div  class="cronograma-title animate__animated animate__fadeInRight">
    <p style="text-align: right; font-size: 1.5rem;">CRONOGRAMA 2024</p>
</div>

<app-cronograma></app-cronograma>

<h1 style="text-align: center; font-size: 2.2rem; font-weight:900; color: #333; padding-top: 5%; ">LARGOMETRAJES</h1>

<div class="image-grid">
    <!-- Primer cuadro de imagen (Ficción) -->
    <a href="/largometraje-ficcion" class="image-link">
        <img src="assets/category/largo-ficcion.png" alt="Ficción" class="hover-image">
        <p class="image-text">FICCIÓN</p>
    </a>

    <!-- Segundo cuadro de imagen (Documental) -->
    <a href="/largometraje-documental" class="image-link">
        <img src="assets/category/largo-documental.png" alt="Documental" class="hover-image">
        <p class="image-text">DOCUMENTAL</p>
    </a>
</div>

<h1 style="text-align: center; font-size: 2.2rem; font-weight:900; color: #333; padding-top: 2%; ">CORTOMETRAJES</h1>

<app-cortometrajes></app-cortometrajes>

<app-patrocinadores></app-patrocinadores>

<app-suscription></app-suscription>



