<div class="news-section" >
    <h1 class="news-title" >
        DESCARGA NUESTRAS AGENDAS
    </h1>
</div>

<div class="button-container" style="padding-bottom: 6%;">       
        <button mat-fab extended (click)="downloadPDF('BOLIVAR')">AGENDA BOLIVAR</button>
        <button mat-fab extended (click)="downloadPDF('CHIMBORAZO')">AGENDA CHIMBORAZO</button>
        <button mat-fab extended (click)="downloadPDF('COTOPAXI')">AGENDA COTOPAXI</button>
        <button mat-fab extended (click)="downloadPDF('PASTAZA')">AGENDA PASTAZA</button>
        <button mat-fab extended (click)="downloadPDF('TUNGURAHUA')">AGENDA TUNGURAHUA</button>
</div>