<div class="news-section" >
    <h1 class="news-title" >
        DESCARGA NUESTRAS AGENDAS
    </h1>
</div>

<div class="button-container" style="padding-bottom: 6%;">       
        <button mat-fab extended (click)="downloadPDF('BOLIVAR')" style="background-color: #ab7597;">AGENDA BOLIVAR</button>
        <button mat-fab extended (click)="downloadPDF('CHIMBORAZO')" style="background-color: #ab7597;">AGENDA CHIMBORAZO</button>
        <button mat-fab extended (click)="downloadPDF('COTOPAXI')" style="background-color: #ab7597;">AGENDA COTOPAXI</button>
        <button mat-fab extended (click)="downloadPDF('PASTAZA')" style="background-color: #ab7597;">AGENDA PASTAZA</button>
        <button mat-fab extended (click)="downloadPDF('TUNGURAHUA')" style="background-color: #ab7597;">AGENDA TUNGURAHUA</button>
</div>