<div class="cronograma-title animate__animated animate__fadeInRight">
    <p style="text-align: right; font-size: 1.5rem;">CRONOGRAMA 2024</p>
</div>

<!-- <app-cronograma></app-cronograma> -->

<app-cronograma-without-img></app-cronograma-without-img>

<h1
    style="text-align: center; font-size: 2.5rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 3%;line-height: 1; ">
    ACERCA DEL FESTIVAL
</h1>


<div class="container">
    <div class="text">
        <p>
            <b>Kunturñawi: un encuentro en el territorio de la imaginación, el pensamiento y la recreación.</b>
        </p>
        <p>
            El cine ecuatoriano, a través del Festival Kunturñawi, nos invita a un gran encuentro en el territorio del
            pensamiento y de la recreación. Este festival, con 18 años de recorrido por diversos escenarios físicos y
            espirituales, se ha consolidado como un espacio vital para el cine nacional y sus múltiples voces.
        </p>
        <p>
            En esta Décima Tercera Edición, celebramos la participación de 49 películas, con la misión del encuentro de
            la obra con los diversos públicos que habitan nuestra geografía. Además, los asistentes tendrán la
            oportunidad de dialogar directamente con algunos de los realizadores de las películas presentadas, generando
            un espacio único para la interacción entre el público y los cineastas.
            Un pilar fundamental del Festival Kunturñawi es hacer realidad el Derecho del Público a acceder al cine
            ecuatoriano, ya sea desde universidades, colegios o comunidades indígenas. Apostamos a la descentralización
            cultural, llevando el cine a las provincias de Bolívar, Cotopaxi, Tungurahua, Chimborazo y Pastaza, donde el
            séptimo arte encuentra nuevos escenarios para compartir historias.
        </p>

        <p>
            Este año también marca un desafío la segunda edición del KunturñawiLab, un laboratorio donde cineastas y
            estudiantes universitarios tienen la oportunidad de crear cortometrajes, y documentales que reflejan las
            voces y vivencias de las comunidades locales. Este espacio se ha convertido en un punto de encuentro
            esencial para el desarrollo de nuevas imágenes y talentos, así como al fortalecimiento del cine documental.
            En el marco de la celebración de los 100 años del Cine Ecuatoriano, el festival concluirá con el II Congreso
            "Cine, Memoria y Patrimonio del Ecuador". Este evento no solo permitirá reflexionar sobre el camino
            recorrido, sino que también trazará la visión de este arte para las nuevas décadas.
        </p>

        <p>
            La premiación del Kunturñawi se llevará a cabo en Ambato, en el emblemático Teatro Lalama, donde se
            entregarán las estatuillas Kunturñawi a las mejores producciones, en reconocimiento al esfuerzo y la calidad
            de las obras cinematográficas ecuatorianas.
            ¡Bienvenidos a la Décima Tercera Edición del Festival Kunturñawi, donde el cine sigue siendo una plataforma
            de encuentro y transformación!

        </p>

        <p>
            Pía Zurita<br>
            Directora
        </p>
    </div>

    <div class="image">
        <img src="assets/elfestival/presentadores.jpg" alt="Map Image">
    </div>
</div>

<app-patrocinadores></app-patrocinadores>

<app-suscription></app-suscription>