<mat-tab-group style="background-color: rgb(255, 219, 0); margin: 0% 3%;" class="animate__animated animate__fadeIn"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab label="NOVIEMBRE">
        <div class="november-content" style="background-color: white;">
            <img [src]="currentImage" width="100%" alt="Imagen dinámica" class="november-image">
        </div>
    </mat-tab>

    <!-- Pestañas dinámicas para los días -->
    <mat-tab *ngFor="let date of dates" [label]="date?.fecha ?? 'Fecha no disponible'">
        <div class="day-content">
            <div class="spinner-container" *ngIf="isLoading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
            <div *ngIf="activities && activities.length > 0 && isLoading==false">
                <!-- <h3>Actividades para la fecha seleccionada:</h3> -->


                <mat-accordion *ngFor="let activity of activities">
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ activity?.hora }}</mat-panel-title>
                            <mat-panel-description>{{ activity?.descripcion }}</mat-panel-description>

                            <!-- Agregamos la clase 'hide-on-small' a estos elementos -->
                            <mat-panel-description class="hide-on-small">
                                <b>Pronvincia:</b> {{ activity?.provincia }}
                            </mat-panel-description>

                            <mat-panel-description class="hide-on-small">
                                <b>Lugar: </b> {{ activity?.lugar }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="show-on-small" style="padding-bottom: 5%;padding-top: 3%;">
                            <b>Pronvincia:</b> {{ activity?.provincia }}
                            <b>Lugar: </b> {{ activity?.lugar }}
                            
                        </div>

                        <div *ngIf="activity?.films && activity.films.length > 0">
                            <p>Pronto tendremos más información de las películas</p>
                        </div>


                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            
            <div *ngIf="!activities?.length && isLoading==false">
                <p>Pronto tendremos más información.</p>
            </div>

        </div>
    </mat-tab>
</mat-tab-group>