<mat-tab-group style="background-color: rgb(255, 219, 0); margin: 0% 3%;" class="animate__animated animate__fadeIn">
    <!-- Pestaña de Noviembre con imagen -->
    <mat-tab label="NOVIEMBRE">
        <div class="november-content" style="background-color: white;">
            <img [src]="currentImage" width="100%" alt="Imagen dinámica" class="november-image">
        </div>
    </mat-tab>

    <!-- Pestañas dinámicas para los días -->
    <mat-tab *ngFor="let day of days" [label]="day.label">
        <div class="day-content">
            <!-- <p>{{ day.content }}</p>    -->
           
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Cuvivies</mat-panel-title>
                        <mat-panel-description>
                            De 14:00 a 16:00 - Auditorio central de la espoch
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open I'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> El viaje hacia el centro de la tierra</mat-panel-title>
                        <mat-panel-description>
                            De 14:00 a 16:00 - Auditorio central de la espoch
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open I'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Chuzalongo</mat-panel-title>
                        <mat-panel-description>
                            De 14:00 a 16:00 
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open I'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                        I'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am open
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>
