<div  class="cronograma-title animate__animated animate__fadeInRight">
    <p style="text-align: right; font-size: 1.5rem;">CRONOGRAMA 2024</p>
</div>

<app-cronograma></app-cronograma>
<br>
<br>

<app-buttons-for-download></app-buttons-for-download>

<!-- Contenedor para el video de YouTube -->
<div  class="video-container" >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y3iyLWpri48" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>

<div>
    <br>
    <br>
</div>

<app-news-tittle></app-news-tittle>

<app-news-principal></app-news-principal>

<app-patrocinadores></app-patrocinadores>

<app-suscription></app-suscription>
