<mat-toolbar color="primary" class="nav-bar  animate__animated animate__fadeInDown ">
    <!-- Logo y Título -->
    <div class="logo-container">
      <a href="/"><img src="assets/img/logos/logo.png" alt="Festival de Cine Ecuatoriano" class="festival-logo"></a>
      <div class="festival-title">
        <!-- <span class="title-main">XIII EDICIÓN KUNTURÑAWI</span><br>
        <span class="title-sub">FESTIVAL DE CINE ECUATORIANO</span> -->
      </div>
    </div>
  
    <!-- Menú para pantallas grandes -->
    <div class="menu-options" [class.show]="menuOpen">
      <a mat-button href="/" >INICIO</a>
      <a mat-button routerLink="/festival">EL FESTIVAL</a>
      <a mat-button routerLink="/seleccion">SELECCIÓN OFICIAL</a>
      <a mat-button routerLink="/kuntur-lab">KUNTUR LAB</a>
      <a mat-button routerLink="/galeria">GALERÍA</a>
    </div>
  
    <!-- Menú Responsive (Icono) -->
    <button mat-icon-button (click)="toggleMenu()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  
  <!-- Menú desplegable solo para móviles -->
  <div class="dropdown-menu" *ngIf="menuOpen">
    <a mat-button routerLink="/" (click)="toggleMenu()">INICIO</a>
    <a mat-button routerLink="/festival" (click)="toggleMenu()">EL FESTIVAL</a>
    <a mat-button routerLink="/seleccion" (click)="toggleMenu()">SELECCIÓN OFICIAL</a>
    <a mat-button routerLink="/kuntur-lab" (click)="toggleMenu()">KUNTUR LAB</a>
    <a mat-button routerLink="/galeria" (click)="toggleMenu()">GALERÍA</a>
  </div>
  