<mat-toolbar color="primary" class="nav-bar animate__animated animate__fadeInDown">
  <!-- Logo y Título -->
  <div class="logo-container">
    <a href="/"><img src="assets/img/logos/logo.png" alt="Festival de Cine Ecuatoriano" class="festival-logo"></a>
    <div class="festival-title">
      <div class="social-media-icons">
        <a href="https://www.facebook.com/KunturnawiCine" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/kunturnawi.cine/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://x.com/kunturnawicine?lang=es" target="_blank">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a href="https://www.youtube.com/@kunturnawiecuatoriano1375" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/in/festival-cine-ecuatoriano-kunturñawi-5565331a8/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Menú para pantallas grandes -->
  <div class="menu-options" [class.show]="menuOpen">
    <a mat-button href="/" [ngClass]="{'active': isRouteActive('/') }">INICIO</a>

    <div class="festival-menu-container" (mouseenter)="openSubmenu()" (mouseleave)="closeSubmenu()">
      <a mat-button routerLink="/festival" [ngClass]="{'active': isRouteActive('/festival') }">EL FESTIVAL</a>

      <!-- Submenú para pantallas grandes -->
      <div class="festival-submenu" *ngIf="submenuOpen">
        <!-- <a mat-button routerLink="/jurado" [ngClass]="{'active': isRouteActive('/jurado') }">JURADO</a>
        <a mat-button routerLink="/equipo" [ngClass]="{'active': isRouteActive('/equipo') }">EQUIPO</a> -->
        <a mat-button href="/acerca-del-festival"  [ngClass]="{'active': isRouteActive('/acerca-del-festival') }">ACERCA DEL FESTIVAL</a>
      </div>
    </div>

    <a mat-button href="/seleccion-oficial" [ngClass]="{'active': isRouteActive('/seleccion-oficial') }">SELECCIÓN
      OFICIAL</a>
    <!-- <a mat-button routerLink="/kuntur-lab" [ngClass]="{'active': isRouteActive('/kuntur-lab') }">KUNTUR LAB</a>
    <a mat-button routerLink="/galeria" [ngClass]="{'active': isRouteActive('/galeria') }">GALERÍA</a> -->
  </div>

  <!-- Menú Responsive (Icono) -->
  <button mat-icon-button (click)="toggleMenu()" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Menú desplegable solo para móviles -->
<div class="dropdown-menu" *ngIf="menuOpen">
  <a mat-button href="/" [ngClass]="{'active': isRouteActive('/') }" (click)="toggleMenu()">INICIO</a>

  <!-- Submenú para móviles -->
  <div (click)="toggleFestivalSubMenu()" class="festival-mobile-menu">
    <a mat-button>EL FESTIVAL</a>
    <div *ngIf="festivalSubMenuOpen" class="festival-submenu-mobile">
      <!-- <a mat-button routerLink="/jurado" [ngClass]="{'active': isRouteActive('/jurado') }"
        (click)="toggleMenu()">JURADO
      </a>
      <a mat-button routerLink="/equipo" [ngClass]="{'active': isRouteActive('/equipo') }"
        (click)="toggleMenu()">EQUIPO
      </a> -->
      <a mat-button routerLink="/acerca-del-festival" [ngClass]="{'active': isRouteActive('/acerca-del-festival') }"
        (click)="toggleMenu()">ACERCA DEL FESTIVAL
      </a>
    </div>
  </div>

  <a mat-button href="/seleccion-oficial" [ngClass]="{'active': isRouteActive('/seleccion-oficial') }"
    (click)="toggleMenu()">SELECCIÓN OFICIAL</a>
</div>