<div class="subscribe-section">
    <!-- Sección de texto a la izquierda -->
    <div class="subscribe-text">
        <h2>SUSCRIBIRSE</h2>
        <p>
            ¡No te pierdas nada del Festival Kunturñawi! Suscríbete ahora y recibe toda la información de primera mano,
            incluyendo la agenda completa del festival.  Es muy sencillo, solo ingresa tu nombre y correo electrónico para formar parte de nuestra comunidad y
            mantenerte al día con las últimas novedades.
        </p>
        <p>
           
        </p>

    </div>

    <!-- Sección de formulario a la derecha -->
    <div class="subscribe-form" style="text-align: center;">
        <input type="text" placeholder="Nombres" class="input-field">
        <input type="email" placeholder="Correo electrónico" class="input-field">
        <!-- <button class="subscribe-button">Suscribirse</button> -->
        <button mat-button class="subscribe-button"><span style="color:white;">Suscribirse</span></button>

    </div>
</div>