<div class="cronograma-title animate__animated animate__fadeInRight">
    <p style="text-align: right; font-size: 1.5rem;">CRONOGRAMA 2024</p>
</div>

<!-- <app-cronograma></app-cronograma> -->

<app-cronograma-without-img></app-cronograma-without-img>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    DIRECCIÓN
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/Pia.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Piedad Zurita <br><b>Dirección</b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/KevinLuna.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Kevin Luna <br><b>Programador</b></h3>        
    </div>
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    COMITÉ ORGANIZADOR
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Ivonne Carrera<br></h3>        
    </div>
   
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Amanda Chávez <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Ana Paula Amado <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Diego Vallejo  <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Lorena Freire <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Galo Vásconez <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Sawya Masaquiza <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Ruth Arias <br></h3>        
    </div>
    <div class="person-card">
        <!-- <img src="assets/img/team/anahi-hoeneisen.webp" alt="Mercedes Moncada" class="person-image"> -->
        <h3 style="text-align: center;">Martha Bravo  <br></h3>        
    </div>
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    PRODUCCIÓN
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/NataliaGB.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Nataly Guashpa <br><b>Gerencia de producción </b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/jimivilema.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Jimi Vilema <br><b>Jefe de producción y logística </b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/byron.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Byron Uscha <br><b>Asistencia de logística</b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/Moises.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Moises Guevara<br><b>Asistencia de logística</b></h3>        
    </div>
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    DEPARTAMENTO DE COMUNICACIÓN Y MÁRKETING
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/SusanaOrtiz.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Susana Ortiz <br><b>Comunicación </b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/Angiebn.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Angie Vilema   <br><b>Comunicación y medios </b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/JOSELYN_BARRIGAS.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Joselyn Barrigas <br><b>Jefa de marketing </b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/HananPachaTV.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Yaku Heredia  <br><b>Creador de contenido</b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/karo.png" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Karolina Carrasco<br><b>Diseño Gráfico y web</b></h3>        
    </div>
    
    <div class="person-card">
        <img src="assets/img/team/DarioJaneta.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Darío Janeta <br><b>Desarrollo de la aplicación web</b></h3>        
    </div>
    
    
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    VOLUNTARIOS
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/JoselyneGz.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Joselyn Gómez <br><b> </b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/SantiagoHernandez.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Santiago Hernández  <br><b> </b></h3>        
    </div>    
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    ESCUELA SUPERIOR POLITÉCNICA DE CHIMBORAZO
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/JosephOnate.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Joseph Oñate <br><b>Administrador de aplicaciones</b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/AndyCordova.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Andrés Córdova <br><b> </b></h3>        
    </div>    
    
    <div class="person-card">
        <img src="assets/img/team/JhonErazo.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">John Erazo<br><b> </b></h3>        
    </div>    
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    UNIVERSIDAD NACIONAL DE CHIMBORAZO
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/ArianaUshca.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Ariana Ushca <br><b></b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/CarlaTorrestorres.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Carla Torres <br><b> </b></h3>        
    </div>    
    
    <div class="person-card">
        <img src="assets/img/team/Karen.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Karen Moreira<br><b> </b></h3>        
    </div>       

    <div class="person-card">
        <img src="assets/img/team/Jaheel.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Jaheel Arroba <br><b> </b></h3>        
    </div>   

    <div class="person-card">
        <img src="assets/img/team/Francis.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Francys Bedón <br><b> </b></h3>        
    </div>    
    
    <div class="person-card">
        <img src="assets/img/team/RubenDarioMerinoGuaman.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Ruben Merino<br><b> </b></h3>        
    </div>    
</div>

<h2
    style="text-align: center; font-size: 1.85rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 1%;line-height: 1; ">
    INCINE
</h2>

<div class="card-grid">
    <!-- Primera tarjeta -->
    <div class="person-card">
        <img src="assets/img/team/Paulina_Sanchez.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Paulina Sánchez <br><b></b></h3>        
    </div>
   
    <div class="person-card">
        <img src="assets/img/team/JhonErazo.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Ana Paula Erazo<br><b> </b></h3>        
    </div>    
    
    <div class="person-card">
        <img src="assets/img/team/alvaroIturralde.png" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Alvaro Iturralde<br><b> </b></h3>        
    </div>       

    <div class="person-card">
        <img src="assets/img/team/KatherinArmijos.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Katherin Armijos<br><b> </b></h3>        
    </div>   

    <div class="person-card">
        <img src="assets/img/team/MagdielSanchez.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Magdiel Sánchez <br><b> </b></h3>        
    </div>    
    
    <div class="person-card">
        <img src="assets/img/team/CristoferRivera.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Cristofer Toapanta<br><b> </b></h3>        
    </div>    
    <div class="person-card">
        <img src="assets/img/team/IsaacRivera.jpg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Isaac Rivera<br><b> </b></h3>        
    </div>    
    <div class="person-card">
        <img src="assets/img/team/ariel.jpeg" alt="Mercedes Moncada" class="person-image">
        <h3 style="text-align: center;">Ariel Chavarria<br><b> </b></h3>        
    </div>    
</div>