<div class="sponsors-section">
    <!-- Título de la sección -->
    <h2>PATROCINADORES</h2>

    <!-- Subtítulos de los patrocinadores -->
    <!-- <div class="sponsor-subtitles">
        <div>
            <p>Ministerio de Cultura y Patrimonio</p>
        </div>
        <div>
            <p>Instituto de Fomento a la Creatividad y la Innovación</p>
        </div>
        <div>
            <p>Línea de Fomento Emblemática</p>
        </div>
    </div> -->

    <!-- Imágenes de los patrocinadores -->
    <div class="sponsor-logos">
        <img src="assets/img/patrocinadores/MINISTERIO-CULTURA-Y-PATRIMONIO-BLANCO.png" style="max-height: 8vh" class="peque" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/IFCI-LOGO-BLANCO.png"  style="max-height: 8vh" class="peque" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/linea-de-fomento-blanco.png"  style="max-height: 10vh" class="peque2" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/fundacion.png"  style="max-height: 19vh" class="peque3"  alt="ambato Logo">
        <img src="assets/img/patrocinadores/CCE.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/GAD-AMBATO.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/ambato.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/DIACA-CAIZA.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/GAD-RIOBAMBA.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/guaranda.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/INTI.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/LATACUNGA.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/PUYO.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/UNIV-COTOPAXI.png" alt="Ministerio Logo">  
        <img src="assets/img/patrocinadores/ESPOCH.png" alt="Ministerio Logo">  
        <img src="assets/img/patrocinadores/UNACH.png" alt="Ministerio Logo">  
        <img src="assets/img/patrocinadores/UTA.png" alt="Ministerio Logo">  
        <img src="assets/img/patrocinadores/UEA.png" alt="Ministerio Logo">  
        <img src="assets/img/patrocinadores/UEB.png" alt="Ministerio Logo">  
    
    </div>
</div>