<div class="sponsors-section">
    <!-- Título de la sección -->
    <h2>PATROCINADORES</h2>

    <!-- Subtítulos de los patrocinadores -->
    <!-- <div class="sponsor-subtitles">
        <div>
            <p>Ministerio de Cultura y Patrimonio</p>
        </div>
        <div>
            <p>Instituto de Fomento a la Creatividad y la Innovación</p>
        </div>
        <div>
            <p>Línea de Fomento Emblemática</p>
        </div>
    </div> -->

    <!-- Imágenes de los patrocinadores -->
    <div class="sponsor-logos">
        <img src="assets/img/patrocinadores/ministerio.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/IFCI.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/linea.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/ambato.png" alt="ambato Logo">
        <img src="assets/img/patrocinadores/gadmrio.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/guaranda.png" alt="Ministerio Logo">
        <img src="assets/img/patrocinadores/fundacion.png" alt="Ministerio Logo">
      
    
    
    </div>
</div>