.sponsors-section {
    background-color: #d3d3d3; /* Color de fondo gris */
    text-align: center;
    padding: 3% 3%;
    padding-bottom: 5%;
  }
  
  .sponsors-section h2 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 2%;
    color: #333;
    letter-spacing: 0.1cap;
    padding-top: 3%;
  }
  
  .sponsor-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
  }
  
  .sponsor-logos img {
    max-height: 11vh; /* Ajusta la altura máxima de los logos */
    object-fit: contain;
    padding: 1%;
    padding-top: 4%;
    background-color: rgba(255, 255, 255, 0);
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  

  /* Pantallas medianas (tablets y pantallas pequeñas) */
@media (max-width: 768px) {
  .sponsors-section h2 {
      font-size: 28px; /* Reduce el tamaño del título */
  }

  .sponsor-logos {
      justify-content: center; /* Centrar los logos */
      gap: 10%; /* Aumentar el espacio entre los logos */
  }

  .sponsor-logos img {
      max-height: 9vh; /* Reducir un poco el tamaño de los logos */
  }
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
  .sponsors-section h2 {
      font-size: 24px; /* Ajusta el tamaño del título aún más pequeño */
  }

  .sponsor-logos {
      flex-direction: column; /* Los logos se mostrarán en columnas */
      gap: 15%; /* Mayor espacio entre los logos para pantallas pequeñas */
  }

  .sponsor-logos img {
      max-height: 7vh; /* Reducir el tamaño de los logos para pantallas muy pequeñas */
  }
}