.sponsors-section {
    background-color: #3c384d; /* Color de fondo gris */
    text-align: center;
    padding: 3% 3%;
    padding-bottom: 5%;
  }
  
  .sponsors-section h2 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 2%;
    color: white;
    letter-spacing: 0.1cap;
    padding-top: 3%;
  }
  
  .sponsor-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
  }
  
  .sponsor-logos img {
    max-height: 12vh; /* Ajusta la altura máxima de los logos */
    object-fit: contain;
    padding: 1%;
    padding-top: 1%;
    background-color: #3c384d;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  

  /* Pantallas medianas (tablets y pantallas pequeñas) */
@media (max-width: 768px) {
  .sponsors-section h2 {
      font-size: 28px; /* Reduce el tamaño del título */
  }

  .sponsor-logos {
      justify-content: center; /* Centrar los logos */
      gap: 10%; /* Aumentar el espacio entre los logos */
  }

  .sponsor-logos img {
      max-height: 5vh; /* Reducir un poco el tamaño de los logos */
  }

  .peque{
    max-height: 4vh !important
  }
  .peque2{
    max-height: 6vh !important
  }
  .peque3{
    max-height: 10vh !important
  }
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
  .sponsors-section h2 {
      font-size: 24px; /* Ajusta el tamaño del título aún más pequeño */
  }

  .sponsor-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
  }
  
  .sponsor-logos img {
    max-height: 8vh; /* Ajusta la altura máxima de los logos */
    object-fit: contain;
    padding: 1%;
    padding-top: 1%;
    background-color: #3c384d;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  .peque{
    max-height: 4vh !important
  }
  .peque2{
    max-height: 6vh !important
  }
  .peque3{
    max-height: 10vh !important
  }
}