<div  class="cronograma-title animate__animated animate__fadeInRight">
    <p style="text-align: right; font-size: 1.5rem;">CRONOGRAMA 2024</p>
</div>

<app-cronograma-without-img></app-cronograma-without-img>

<h1
    style="text-align: center; font-size: 2.5rem; font-weight:900; color: #333; padding-top: 3%; padding-bottom: 3%;line-height: 1; ">
    CORTOMETRAJE DOCUMENTAL
</h1>


<div class="image-grid ">
    <!-- Primer cuadro de imagen (Chuzalongo) -->
    <a class="image-link " *ngFor="let film of films" (click)="navigateToFilm(film.id)">
        <!-- <img src="assets/img/ct2.png"  alt="Chuzalongo" class="hover-image animate__animated animate__fadeIn"> -->
        <img [src]="film.image ?  film.image : 'assets/img/ct2.png'" alt="Imagen de la noticia"
            class="hover-image animate__animated animate__fadeIn">
        <p class="image-title">{{film.films_Titulo}}</p>
        <p class="image-subtitle">{{film.films_Director}}</p>
    </a>
    <!-- Mostrar el spinner mientras se están cargando los datos -->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>



<app-buttons-for-films></app-buttons-for-films>


<app-patrocinadores></app-patrocinadores>

<app-suscription></app-suscription>